@model sivel_proyecto_bad115.Models.IMPORTADORES

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>IMPORTADORES</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NIT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NIT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOMBRES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APELLIDOS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APELLIDOS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APELLIDO_CASADA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APELLIDO_CASADA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GENERO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GENERO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_NACIMIENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_NACIMIENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIRECCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIRECCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_RESPONSABLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_RESPONSABLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELEFONO_RESPONSABLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEFONO_RESPONSABLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <br /><br /><br />
        
        <dt>
            @Html.DisplayNameFor(model => model.IMPORTACIONES)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Fecha</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Año</th>
                    <th>Desperfecto</th>
                    <th>Detalle</th>
                </tr>
                @foreach (var item in Model.IMPORTACIONES)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FECHA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VEHICULOS.MARCA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VEHICULOS.MODELO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VEHICULOS.ANO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DESPERFECTO)
                        </td>
                        <td>
                            @Html.ActionLink("Detalle", "Details", "IMPORTACIONES", new { id = item.ID_IMPORTACION },null)
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_IMPORTADOR }) |
    @Html.ActionLink("Back to List", "Index")
</p>
