@model IEnumerable<sivel_proyecto_bad115.Models.IMPORTACIONES>

@{
    ViewBag.Title = "Index";
}

<h2>IMPORTACIONES</h2>

<p>
    @Html.ActionLink("Crear una nueva importacion", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FECHA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESPERFECTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRECIO_VENTA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ESTADO_IMPORTACIONES.ESTADO_IMPORTACION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VEHICULOS.MARCA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IMPORTADORES.NOMBRES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UBICACIONES.ID_UBICACION)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESPERFECTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRECIO_VENTA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ESTADO_IMPORTACIONES.ESTADO_IMPORTACION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VEHICULOS.MARCA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IMPORTADORES.NOMBRES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UBICACIONES.ID_UBICACION)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID_IMPORTACION }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ID_IMPORTACION }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ID_IMPORTACION })
        </td>
    </tr>
}

</table>
