<<<<<<< HEAD
﻿@model IEnumerable<sivel_proyecto_bad115.IMPORTACIONES>
=======
﻿@model IEnumerable<sivel_proyecto_bad115.Models.IMPORTACIONES>
>>>>>>> nalejandrosaz

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
<<<<<<< HEAD
    @Html.ActionLink("Crear nueva importacion", "Create")
=======
    @Html.ActionLink("Create New", "Create")
>>>>>>> nalejandrosaz
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FECHA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESPERFECTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRECIO_VENTA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ESTADO_IMPORTACIONES.ESTADO_IMPORTACION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VEHICULOS.MARCA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IMPORTADORES.NOMBRES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UBICACIONES.ID_UBICACION)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESPERFECTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRECIO_VENTA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ESTADO_IMPORTACIONES.ESTADO_IMPORTACION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VEHICULOS.MARCA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IMPORTADORES.NOMBRES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UBICACIONES.ID_UBICACION)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_IMPORTACION }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_IMPORTACION }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_IMPORTACION })
        </td>
    </tr>
}

</table>
