@model sivel_proyecto_bad115.Models.BODEGAS

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Esta seguro que desea eliminar la bodega?</h3>
<div>
    <h4>BODEGAS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAPACIDAD_MAX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAPACIDAD_MAX)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-warning" /> |
            @Html.ActionLink("Regresar a la lista de bodegas", "Index")
        </div>
    }
</div>
