@model IEnumerable<sivel_proyecto_bad115.Models.BODEGAS>

@{
    ViewBag.Title = "Index";
}

<h2>BODEGAS</h2>

<p>
    @Html.ActionLink("Crear nueva Bodega", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAPACIDAD_MAX)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAPACIDAD_MAX)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID_BODEGA }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ID_BODEGA }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ID_BODEGA })
        </td>
    </tr>
}

</table>
