@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SIVEL APP</h1>
    <p class="lead">SIVEL es una aplicación para el control de importaciones de vehículos.</p>
<<<<<<< HEAD
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Genera una importación &raquo;</a></p>
</div>

<div class="row">
<<<<<<< HEAD
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Importador","Index","IMPORTADORES")</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Importaciones", "Index", "IMPORTACIONES")</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
=======
    @if(Request.IsAuthenticated)
    {
        <div class="col-md-4">
            <h2>Catálogos</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that.
            </p>
            <p>@Html.ActionLink("Tipo remolques", "Index", "TIPO_REMOLQUES", null, new { @class = "btn btn-default" })</p>
            <p>@Html.ActionLink("Tipo movimientos", "Index", "TIPO_MOVIMIENTOS", null, new { @class = "btn btn-default" })</p>
            <p>@Html.ActionLink("Estado importaciones", "Index", "ESTADO_IMPORTACIONES", null, new { @class = "btn btn-default" })</p>
        </div>
        <div class="col-md-4">
            <h2>Registros</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            <p>@Html.ActionLink("Registros importadores", "Index", "TIPO_REMOLQUES", null, new { @class = "btn btn-default" })</p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    }
>>>>>>> nalejandrosaz
=======
>>>>>>> nalejandrosaz
</div>