@model IEnumerable<sivel_proyecto_bad115.Models.ESTADO_IMPORTACIONES>

@{
    ViewBag.Title = "Index";
}

<h2>ESTADO DE IMPORTACIONES</h2>

<p>
    @Html.ActionLink("Estado de importacion nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ESTADO_IMPORTACION)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ESTADO_IMPORTACION)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID_EIMPORTACION }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ID_EIMPORTACION }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ID_EIMPORTACION })
        </td>
    </tr>
}

</table>
