@model sivel_proyecto_bad115.Models.UBICACIONES

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UBICACIONES</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NIVEL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NIVEL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NUMERO_PARQUEO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUMERO_PARQUEO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BODEGAS.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BODEGAS.NOMBRE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_UBICACION }) |
    @Html.ActionLink("Back to List", "Index")
</p>
