@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>@ViewBag.Title - SIVEL</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
<<<<<<< HEAD
    @Styles.Render("~/Content/jquery-ui.css")

    

=======
>>>>>>> nalejandrosaz
</head>
<body>

    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        @Html.ActionLink("SIVEL", "Index", "Home", new { area = "" }, new { @class = "navbar-brand col-sm-3 col-md-2 mr-0" })
        @*<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>*@
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                @Html.Partial("_LoginPartial")
                @*<a class="nav-link" href="#">Sign out</a>*@
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            @if (Request.IsAuthenticated)
            {
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Acciones</span>
                            <a class="d-flex align-items-center text-muted" href="#">
                                <span data-feather="plus-circle"></span>
                            </a>
                        </h6>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                @Html.ActionLink("Inicio", "Index", "Home", null, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Importadores", "Index", "IMPORTADORES", null, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Importaciones", "Index", "IMPORTACIONES", null, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Movimientos", "Index", "MOVIMIENTOS", null, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Ubicaciones", "Index", "UBICACIONES", null, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="users"></span>
                                    Reparaciones
                                </a>
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Bodegas", "Index", "BODEGAS", null, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Vehiculos", "Index", "VEHICULOS", null, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Usuarios", "Index", "AspNetUsers", null, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Roles", "Index", "AspNetRoles", null, new { @class = "nav-link" })
                            </li>
                        </ul>

                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Catálogos</span>
                            <a class="d-flex align-items-center text-muted" href="#">
                                <span data-feather="plus-circle"></span>
                            </a>
                        </h6>
                        <ul class="nav flex-column mb-2">
                            <li class="nav-item">
                                @Html.ActionLink("Estado importaciones", "Index", "ESTADO_IMPORTACIONES", null, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Tipo remolques", "Index", "TIPO_REMOLQUES", null, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Tipo movimientos", "Index", "TIPO_MOVIMIENTOS", null, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Talleres", "Index", "TALLERES", null, new { @class = "nav-link" })
                            </li>
                        </ul>
                    </div>
                </nav>
            }            
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                @RenderBody()
            </main>
        </div>
        <footer>
            <br />
            <p>&copy; @DateTime.Now.Year - BAD115 FIA UES</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery-ui.js")
    @Scripts.Render("~/Scripts/DatePickerReady.js")
    
</body>
</html>
